<div class="container mt-4">
    <a class="btn btn-success btn-lg" [routerLink]="['/formation/create']">Create Formation</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titre</th>
        <th scope="col">Lieu</th>
        <th scope="col">Durée</th>
        <th scope="col">Formateur</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let formation of formations;let i=index;">
      <tr>
        <th scope="row">{{i}}</th>
        <td>{{formation.titre}}</td>
        <td>{{formation.lieu}}</td>
        <td>{{formation.duree}}</td>
        <td>{{formation.formateur}}</td>
        <td>{{formation.status}}</td>
        <td><button  [routerLink]="['/formation/update/', formation._id]" class="btn btn-secondary btn-sm">Modifier</button>   <button type="button" (click)="delete(formation._id)" class="btn btn-danger btn-sm">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>